/* DEBUG */
/* [class*="row"] {
    background-color: coral;
}

[class*="col"] {
    background-color: aqua;
    border: 1px solid black;
} */

/* generals */

.sectionsTitle {
    font-size: 1.5rem;
}

.sectionsLine {
    background-color: #2c3e50;
    width: 4rem;
    height: 2px;
    border-radius: 2px;
}

/* header */
header {
    background-color: #2c3e50;
    color: white;
}

.intestazione {
    height: 3rem;
}

.logo {
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0;
}


.navBar {
    margin: 0;
}

.navBarLi {
    font-size: 0.5rem;
}

/* jumbotron */
#jumbotron {
    background-color: #1abc9c;
    color: white;
}

.jumboImg {
    width: 7rem;
}

.jumboLine {
    background-color: white;
}

.jumboText {
    font-size: 0.7rem;
}

/* portfolio */
.cardsImg {
    width: 4rem;
}